@using Necnat.AccessManagement.Client.Components.Modules.MdlHierarchyManagement

@inject IConfiguration Configuration
@inject IStringLocalizer<CommonLocalizer> CommonLocalizer
@inject IStringLocalizer<ApplicationLocalizer> ApplicationLocalizer
@inject IStringLocalizer<HierarchyLocalizer> HierarchyLocalizer
@inject INecnatSessionService Session
@inject INecnatSwalService SwalService

@inject NavigationManager Navigation
@inject DialogService Dialog
@inject SweetAlertService Swal
@inject NamHttpClient AppHttpClient

@if (hasPermissionRead)
{
    @if (isLoading == true)
    {
        <img class="nn-loading nn-loading-center" src="../img/loading.gif" alt="@CommonLocalizer["Loading..."]" />
    }
    else
    {
        <RadzenPanel class="nn-filter" AllowCollapse="true">
            <HeaderTemplate>
                <span>
                    <i class="fas fa-link"></i><span class="nn-filter-header">@HierarchyLocalizer["Hierarchys"]</span>
                </span>
            </HeaderTemplate>
            <ChildContent>
                <hr />
                <RadzenDataGrid class="nn-data-grid" AllowColumnResize="true" AllowSorting="true" AllowPaging="true" EmptyText="@CommonLocalizer["No records to display."]"
                                AllowFiltering="true" FilterMode="FilterMode.Advanced" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                PageSize="PageSize" IsLoading="@(recordList == null)" TItem="ApplicationHierarchy" Data="@recordList">
                    <Columns>
                        <RadzenDataGridColumn CssClass="nn-column" TItem="ApplicationHierarchy" Property="Hierarchy.Name" Title="@HierarchyLocalizer["Name"]" />
                        <RadzenDataGridColumn CssClass="nn-column" TItem="ApplicationHierarchy" Property="Hierarchy.IsActive" Title="@HierarchyLocalizer["IsActive"]">
                            <Template Context="data">
                                <RadzenCheckBox class="nn-checkbox" @bind-Value="data.Hierarchy.IsActive" Disabled="true" />
                            </Template>
                        </RadzenDataGridColumn>
                        @if (AllowDelete && hasPermissionDelete)
                        {
                            <RadzenDataGridColumn TItem="ApplicationHierarchy" Title="Ação">
                                <Template Context="data">
                                    <button type='button' class="btn nn-button-action nn-button-delete" @onclick="async () => await ConfirmDeleteApplicationHierarchyAsync(data.Id)" data-toggle="tooltip" title="@CommonLocalizer["Delete"]"><i class="fas fa-trash-alt"></i></button>
                                </Template>
                            </RadzenDataGridColumn>
                        }
                    </Columns>
                </RadzenDataGrid>
                <br />
                @if (AllowInsert && hasPermissionInsert)
                {
                    <button type='button' class="btn float-right nn-button nn-button-primary nn-button-new" @onclick="@InsertApplicationHierarchy"><i class="fas fa-plus-circle nn-button-icon"></i> @CommonLocalizer["Add"]</button>
                }
            </ChildContent>
        </RadzenPanel>
    }
}

@code {

    //DataGrid Parameters

    [Parameter]
    public int PageSize { get; set; } = 5;

    //Parameters

    [Parameter]
    public int ApplicationId { get; set; }

    //Code

    bool isLoading = true;
    List<ApplicationHierarchy> recordList;

    //Permission

    [Parameter]
    public bool AllowInsert { get; set; }

    [Parameter]
    public bool AllowDelete { get; set; }

    private MdUserAuthorizationReduced userAuthorization = null;
    private bool hasPermissionInsert = false;
    private bool hasPermissionRead = false;
    private bool hasPermissionDelete = false;

    protected override async Task OnInitializedAsync()
    {
        Dialog.OnClose += CloseInsertApplicationHierarchy;

        userAuthorization = await Session.GetUserAuthorizationAsync();
        if (userAuthorization == null)
        {
            Navigation.NavigateTo("/MdlAccessManagement/Logout?reason=NoUserAuthorization");
            return;
        }

        hasPermissionRead = Session.HasModuleFeature(userAuthorization, NamFeatureConstants.ModuleDevelopment, NamFeatureConstants.FeatureDevelopmentApplicationHierarchyRead, (int)NamHierarchyComponentTypeConstants.Application, ApplicationId);
        hasPermissionInsert = Session.HasModuleFeature(userAuthorization, NamFeatureConstants.ModuleDevelopment, NamFeatureConstants.FeatureDevelopmentApplicationHierarchyInsert, (int)NamHierarchyComponentTypeConstants.Application, ApplicationId);
        hasPermissionDelete = Session.HasModuleFeature(userAuthorization, NamFeatureConstants.ModuleDevelopment, NamFeatureConstants.FeatureDevelopmentApplicationHierarchyDelete, (int)NamHierarchyComponentTypeConstants.Application, ApplicationId);

        if (!hasPermissionRead)
            return;

        recordList = await (await AppHttpClient.DevelopmentApplicationHierarchyASearchByApplicationIdIncludeHierarchy(ApplicationId)).Content.ReadFromJsonAsync<List<ApplicationHierarchy>>();

        isLoading = false;
        StateHasChanged();
    }

    string insertApplicationHierarchyByApplication = "InsertApplicationHierarchyByApplication";

    void InsertApplicationHierarchy()
    {
        Dialog.Open<HierarchySelectModal>("", new Dictionary<string, object>() {
                { "DialogName", insertApplicationHierarchyByApplication },
                { "SupportModuleCodeName", NamFeatureConstants.ModuleDevelopment },
                { "SupportFeatureCodeName", NamFeatureConstants.FeatureDevelopmentApplicationHierarchyInsert },
                { "WithoutIdList", recordList.Select(x => x.HierarchyId).ToList() },
                { "IsMultipleSelection", true } },
            RadzenConstants.DIALOG_OPTIONS);
    }

    async void CloseInsertApplicationHierarchy(dynamic result)
    {
        if (result == null || ((MdDialogResult)result).DialogName != insertApplicationHierarchyByApplication)
            return;

        var isSuccessStatusCode = true;
        string successMessage = string.Empty;
        List<Api> dataList = result.Data;

        foreach (var iData in dataList)
        {
            var e = new ApplicationHierarchy();
            e.ApplicationId = ApplicationId;
            e.HierarchyId = iData.Id;

            var r = await AppHttpClient.DevelopmentApplicationHierarchyAInsert(e);

            isSuccessStatusCode = isSuccessStatusCode && r.IsSuccessStatusCode;
            if (isSuccessStatusCode)
                successMessage = await r.Content.ReadAsStringAsync();

            if (!isSuccessStatusCode)
            {
                if (r.StatusCode == HttpStatusCode.Conflict || Configuration["ShowDetailedError"] == "True")
                    await Swal.FireAsync(SwalService.Error(await r.Content.ReadAsStringAsync()));
                else
                    await Swal.FireAsync(SwalService.ErrorGeneric());
            }

            if (!isSuccessStatusCode)
                break;
        }

        if (dataList.Count() > 0 && isSuccessStatusCode)
            await Swal.FireAsync(SwalService.Success(successMessage));

        Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
    }

    async Task ConfirmDeleteApplicationHierarchyAsync(int id)
    {
        await Swal.FireAsync(SwalService.WarningConfirmAction(new PreConfirmCallback(async () => await DeleteApplicationHierarchyAsync(id), this)))
            .ContinueWith(async swalTask =>
            {
                SweetAlertResult result = await swalTask;
                if (result.Dismiss == DismissReason.Cancel)
                    await Swal.FireAsync(SwalService.WarningConfirmActionCanceled());
            });
    }

    async Task<string> DeleteApplicationHierarchyAsync(int id)
    {
        var result = "0";
        var r = await AppHttpClient.DevelopmentApplicationHierarchyADelete(id);

        if (r.IsSuccessStatusCode)
        {
            await Swal.FireAsync(SwalService.Success(await r.Content.ReadAsStringAsync()));
            result = "1";
        }
        else if (r.StatusCode == HttpStatusCode.Conflict || Configuration["ShowDetailedError"] == "True")
            await Swal.FireAsync(SwalService.Error(await r.Content.ReadAsStringAsync()));
        else
            await Swal.FireAsync(SwalService.ErrorGeneric());

        Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
        return result;
    }

}